#root {
  height: 100%;
}

/** html */

html,
body {
  margin: 0px;
  height: 100vh;
  background-color: $background-color-main;
  overflow: hidden;
}

button {
  all: unset;
}

.labl {
  display: block;
  width: 400px;
}

.labl > input {
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.labl > input + div {
  /* DIV STYLES */
  cursor: pointer;
}

.labl > input:checked + div {
  /* (RADIO CHECKED) DIV STYLES */
  border: 5px solid $border-color-focus;
  opacity: 0.65;
}

/** html */

/** common */
.font-sm {
  font-size: $font-sm;
}

.font-md {
  font-size: $font-md;
}

.title-main {
  color: $color-white;
  font-size: $font-md;
  text-align: center;
}

.color-main {
  color: $color-main;
}

.color-white {
  color: $color-white;
}

.color-danger {
  color: $color-danger;
}

.button-main {
  min-width: 100px;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 2rem;
  color: $color-white;
  background-color: $button-main-color;
}

.button-minor {
  min-width: 100px;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 2rem;
  color: $color-white;
  background-color: $background-color-minor;
}

/** common */
