$background-color-main: #05160d;
$background-color-minor: #081e13;
$background-input-color: #3c4f46;

$button-main-color: #3c4f46;

$icon-color-active: #026a5c;
$icon-color: #3c4f46;

$color-main: #026a5c;
$color-white: #ffffff;
$color-danger: red;

$font-md: 20px;

$border-radius-xs: 0.5rem;
$border-color-focus: #026a5c;
$border-color: #ffffff;
