.input-text-field {
  display: flex;
  flex-direction: column;
  width: 100%;

  & label {
    font-size: $font-md;
    color: $color-main;
  }
  & input {
    outline: none;
    width: 100%;
    padding: 0.6rem 0.6rem;
    color: $color-white;
    background-color: $background-input-color;
    border-radius: $border-radius-xs;
    border: 2px solid $background-input-color;
  }
  & input:focus {
    border: 2px solid $border-color-focus;
  }
}
