.booking-step2-content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  & svg {
    width: 50px;
    height: 50px;
    color: $icon-color;

    &:hover {
      color: $icon-color-active;
      cursor: pointer;
    }
  }
}

.food-container {
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-sm;
  color: $color-white;
  background-position: center;
  background-size: cover;
  border-radius: $border-radius-md;

  &.starter1 {
    background-image: url("../../image/Starter1.jpeg");
  }
  &.starter2 {
    background-image: url("../../image/Starter2.jpeg");
  }
  &.starter3 {
    background-image: url("../../image/Starter3.jpeg");
  }

  &.salad1 {
    background-image: url("../../image/Salad1.jpeg");
  }
  &.salad2 {
    background-image: url("../../image/Salad2.jpeg");
  }
  &.salad3 {
    background-image: url("../../image/Salad3.jpeg");
  }

  &.soup1 {
    background-image: url("../../image/Soup1.jpeg");
  }
  &.soup2 {
    background-image: url("../../image/Soup2.jpeg");
  }
  &.soup3 {
    background-image: url("../../image/Soup3.jpeg");
  }

  &.main1 {
    background-image: url("../../image/Main1.jpeg");
  }
  &.main2 {
    background-image: url("../../image/Main2.jpeg");
  }
  &.main3 {
    background-image: url("../../image/Main3.jpeg");
  }
}

// White peach charred and marinated in basil and honeysuckle sugar syrup, lemon and creme fraiche pannacotta, almond brittle, basil and honeysuckle syrup, fresh honeysuckle
